.subject01 {
    .right-box,
    .left-box {
        .gaugecomp {
            width: 100%;
            // height: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title {
                color: $white;
                padding: 0 10px;
            }

            .content {
                width: 100%;
                flex: 1;
                display: flex;
                gap: 10px;

                .gauge-box {
                    width: calc(100% / 3);
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    gap: 6px;
                    align-items: center;
                    justify-content: end;

                    img {
                        width: 40%;
                        margin-bottom: 4px;
                    }

                    p {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        font-size: 16px;
                    }
                }

                .critical {
                    p {
                        color: $critical;
                    }
                }

                .warning {
                    p {
                        color: $trouble;
                    }
                }

                .major {
                    p {
                        color: $attention;
                    }
                }

                .data {
                    height: 25%;
                    font-size: 24px;
                    font-weight: 700;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 10px;
                }
            }
        }

        .device-events {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title-box {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .title {
                    color: $white;
                }
            }

            .table {
                width: 100%;
                height: 100%;
                overflow: hidden;
                border: 1px solid $gray;
                background: $dark;
                border-radius: 4px;

                .station {
                    width: 35%;
                }
                .attention {
                    width: calc(65% / 3);
                }
                .trouble {
                    width: calc(65% / 3);
                }
                .critical {
                    width: calc(65% / 3);
                }
                .thead {
                    display: flex;
                    height: 15%;

                    .th {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-right: 1px solid $gray;
                        color: $white;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .th:last-child {
                        border: none;
                    }

                    .attention {
                        color: $attention;
                    }
                    .trouble {
                        color: $trouble;
                    }
                    .critical {
                        color: $critical;
                    }
                }

                .tbody {
                    width: 100%;
                    height: 85%;
                    .tr {
                        width: 100%;
                        display: flex;
                        border-top: 1px solid $gray;
                        color: $white;
                        height: calc(100% / 8);

                        .td {
                            border-right: 1px solid $gray;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 14px;
                        }
                        .td:last-child {
                            border: none;
                        }
                    }
                }
                .tbody2 {
                    width: 100%;
                    height: 85%;
                    .tr {
                        width: 100%;
                        display: flex;
                        border-top: 1px solid $gray;
                        color: $white;
                        height: calc(100% / 7);

                        .td {
                            border-right: 1px solid $gray;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 14px;
                        }
                        .td:last-child {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
