.subject01 {
    .left-box {
        .gaugecomp {
            width: 100%;
            height: 40%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title {
                color: $white;
                padding: 0 10px;
            }

            .content {
                width: 100%;
                flex: 1;
                display: flex;
                gap: 10px;

                .gauge-box {
                    width: calc(100% / 3);
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    gap: 6px;
                    align-items: center;
                    justify-content: center;

                    img {
                       width: 40%;
                       margin-bottom: 10px;
                    }

                    p {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        font-size: 18px;
                    }
                }

                .critical {
                    p {
                        color: $critical;
                    }
                }

                .warning {
                    p {
                        color: $warn;
                    }
                }

                .major {
                    p {
                        color: $noraml;
                    }
                }

                .data {
                    height: 25%;
                    font-size: 30px;
                    font-weight: 700;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .top-list {
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title-box {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .title {
                    color: $white;
                    padding: 0 10px;
                }
                .ant-radio-group {
                    margin-bottom: 0 !important;
                    line-height: 1;
                }

                .ant-radio-button-wrapper {
                    background: $dark;
                    border: 1px solid #2a3b49;
                    color: #4c6477;
                    height: auto;
                    line-height: 1;
                    padding: 6px 16px;
                }
                .ant-radio-button-wrapper:not(:first-child):before {
                    display: none;
                }

                .ant-radio-button-wrapper:focus-within {
                    box-shadow: none;
                }

                .ant-radio-button-wrapper-checked {
                    color: white;
                    border: 1px solid $select;
                    background: $gray;
                }
            }

            .table {
                width: 100%;
                flex: 1;
                overflow: hidden;
                border-radius: 4px;
                border: 1px solid $select;
                background-color: $dark;

                .thead {
                    width: calc(100% - 8px);
                    display: flex;
                    height: 10%;

                    .th {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-right: 1px solid $select;
                        color: $white;
                    }
                    .th:last-child {
                        border: none;
                    }
                }

                .tbody {
                    width: 100%;
                    height: 90%;
                    overflow-y: auto;
                    .tr {
                        width: 100%;
                        display: flex;
                        border-top: 1px solid $select;
                        color: $white;

                        .td {
                            padding: 2px;
                            border-right: 1px solid $select;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 14px;
                        }
                        .td:last-child {
                            border: none;
                        }
                    }
                }
                .key {
                    width: 13%;
                }
                .name {
                    width: 35%;
                }
                .progress {
                    width: 52%;

                    .progressBar {
                        padding-left: 8px;
                        .ant-progress-outer {
                            height: 100%;
                            .ant-progress-inner {
                                border-radius: 0;
                                background: rgba(0, 0, 0, 0);
                                height: 100%;
                                .ant-progress-bg {
                                    height: 12px !important;
                                    border-radius: 0;
                                }
                            }
                        }
                        .ant-progress-text {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
