.subject01 {
    .right-box {
        gap: 12px;
        display: flex;
        flex-direction: column;

        .event-trend {
            width: 100%;
            height: 40%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title {
                color: $white;
                padding: 0 10px;
                height: 10%;
            }
            .chart-box {
                width: 100%;
                height: 90%;
            }
        }

        .status-list {
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .title {
                color: $white;
                height: 10%;
                display: flex;
                align-items: center;
            }

            .table-box {
                display: flex;
                flex-direction: column;
                height: 90%;
                border: 1px solid $select;
                background-color: $dark;
                border-radius: 4px;

                .table {
                    width: 100%;
                    height: 50%;
                    overflow: hidden;
                    border-bottom: 1px solid $select;

                    .thead {
                        width: calc(100% - 8px);
                        display: flex;
                        height: 18%;

                        .th {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-right: 1px solid $select;
                            color: $white;
                        }
                        .th:last-child {
                            border: none;
                        }
                    }

                    .tbody {
                        width: 100%;
                        height: 82%;
                        overflow-y: auto;
                        .tr {
                            width: 100%;
                            display: flex;
                            border-top: 1px solid $select;
                            color: $white;

                            .td {
                                padding: 2px;
                                border-right: 1px solid $select;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 14px;
                            }
                            .td:last-child {
                                border: none;
                            }
                        }
                    }
                    .key {
                        width: 13%;
                    }
                    .name {
                        width: 35%;
                    }
                    .progress {
                        width: 52%;

                        .progressBar {
                            padding-left: 8px;
                            .ant-progress-outer {
                                height: 100%;
                                .ant-progress-inner {
                                    border-radius: 0;
                                    background: rgba(0, 0, 0, 0);
                                    height: 100%;
                                    .ant-progress-bg {
                                        height: 12px !important;
                                        border-radius: 0;
                                    }
                                }
                            }
                            .ant-progress-text {
                                color: $white;
                            }
                        }
                    }
                }
                .table:nth-child(2n) {
                    border-bottom: none;
                }
            }
        }
    }
}
