.main-contents {
   .event-trend{
       width: 25%;
       display: flex;
       flex-direction: column;
       gap: 10px;
       .title {
        color: $white;
        padding: 0 10px;
    }
    .chart-box{
        width: 100%;
        flex:1;
    }
   }

   .device-events{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
        padding: 0 10px;
        height: 5%;

        .unit{
            font-size: 14px;
        }
    }

        .table {
            width: 100%;
            height: 95%;
            overflow: hidden;
            border: 1px solid $gray;
            background: $dark;
            border-radius: 4px;

            .title{
                width: 10%;
            }
            .previous{
                width: 30%;
            }
            .today{
                width: 30%;
            }
            .critical{
                width: 30%;
            }
            .thead {
                display: flex;
                height: 10%;

                .th {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: 1px solid $gray;
                    color: $white;
                    font-size: 14px;
                }
                .th:last-child {
                    border: none;
                }
            }

            .tbody {
                width: 100%;
                height: 90%;
                .tr {
                    width: 100%;
                    display: flex;
                    border-top: 1px solid $gray;
                    color: $white;
                    height: calc(100% / 10);

                    .td {
                        border-right: 1px solid $gray;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                        font-weight: 300;
                    }
                    .td:last-child {
                        border: none;
                    }
                }
            }
        }
       
}

.ems-server{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
     color: $white;
     padding: 0 10px;
    }

    .table-box {
        display: flex;
        flex-direction: column;
        height: 90%;
        border: 1px solid $gray;
        background-color: $dark;
        border-radius: 4px;

        .table {
            width: 100%;
            height: 50%;
            overflow: hidden;
            border-bottom: 1px solid $gray;

            .thead {
                width: calc(100% - 8px);
                display: flex;
                height: 18%;

                .th {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: 1px solid $gray;
                    color: $white;
                }
                .th:last-child {
                    border: none;
                }
            }

            .tbody {
                width: 100%;
                height: 82%;
                overflow-y: auto;
                .tr {
                    width: 100%;
                    display: flex;
                    border-top: 1px solid $gray;
                    color: $white;

                    .td {
                        padding: 2px;
                        border-right: 1px solid $gray;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                    }
                    .td:last-child {
                        border: none;
                    }
                }
            }
            .key {
                width: 13%;
            }
            .name {
                width: 35%;
            }
            .progress {
                width: 52%;

                .progressBar {
                    padding-left: 8px;
                    .ant-progress-outer {
                        height: 100%;
                        .ant-progress-inner {
                            border-radius: 0;
                            background: rgba(0, 0, 0, 0);
                            height: 100%;
                            .ant-progress-bg {
                                height: 12px !important;
                                border-radius: 0;
                            }
                        }
                    }
                    .ant-progress-text {
                        color: $white;
                    }
                }
            }
        }
        .table:nth-child(2n) {
            border-bottom: none;
        }
    }
}
}