$background : #071622;
$borderColor: #48525B;
$pannelGradient: linear-gradient(to top, #07172600 5%,#071726 7%,#071726,#153149d2);


$blue :#081D2F;
$blueBorder: #183b5a;

$white:#b4c7da;
$skyBlue:#98CEFF;

$gray: #293C4B;
$dark: #041019;
$dark60: #041019de;
$select: #304f68;
$primary: #355aaa;

$critical:#F62C2C;
$warn:#F6872C;
$noraml:#32CF32;

$redDown: #9A3234;
$orrangeDown:#9A5334;
$yellowDown:#8F8947